@model PD.Model.Info
@{
    ViewBag.Title = Model.Name + "--" + (ViewContext.ViewData["set"] as List<PD.Model.Setting>).Where(s => s.Mark == "SiteName").FirstOrDefault().Content;

    Layout = "~/Views/Shared/Front.cshtml";

    var info = new PD.Util.PDService("Info", "ID").GetObjects<PD.Model.Info>("");
            
}
<style>
    .product {
        list-style: none;
        padding: 0px 25px;
    }

        .product li {
            float: left;
            margin: 10px 20px;
            line-height: 40px;
            width: 155px;
            height: 137px;
            background-color: #4cff00;
        }

    .litem {
        display: block;
        height: 32px;
        width: 100%;
        color: white;
        font-size: 15px;
        font-family: 'Microsoft YaHei';
        line-height: 32px;
        font-weight: bold;
        text-align: center;
        background: url('/Images/lItem_03.jpg') repeat-x;
    }

    .litem_s {
        display: block;
        height: 35px;
        width: 100%;
        color: #005FAF;
        line-height: 35px;
        font-size: 15px;
        font-family: 'Microsoft YaHei';
        font-weight: bold;
        text-align: center;
        background: url('/Images/litem_select_05.jpg') repeat-x;
    }

    #contact label, .pinfo li label {
        font-size: 12px;
        color: #4b4b4b;
    }
</style>
<img style="margin-top:10px;margin-bottom:-10px;width:100%" src="/images/product_bg.jpg" />

<div class="box" style="width: 320px; height: auto; margin-right: 15px">
    <a class="litem">技术支持</a>@if (info.Where(s => s.Mark == "SHFW").Any())
                             {
        <a class="litem_s" style="background-image: url('/Images/litem_no_06.jpg')" href="/Info/Support?ID=@info.Where(s => s.Mark == "SHFW").FirstOrDefault().ID">售后服务</a>
                             }@if (info.Where(s => s.Mark == "JJWT").Any())
 { <a class="litem_s" style="background-image: url('/Images/litem_no_06.jpg')" href="/Info/Support?ID=@info.Where(s => s.Mark == "JJWT").FirstOrDefault().ID">解决问题</a>
 }   <a class="litem_s" style="background-image: url('/Images/litem_no_06.jpg')" href="/Download/List">资料下载</a>

</div>

<div class="box" style="width: 804px; min-height: 575px; float: right;">

    <div class="boxhead">
        <label class="posi">您的当前位置：<a href="/Home/Index">首页></a><a href="javascript:void(0)">技术支持></a><span href="">@Model.Name</span></label>
    </div>
    <div style="padding: 20px;">
        @Html.Raw(Model.Content)
    </div>
</div>


