.icon-account {
    background: url('myicons/account.png') no-repeat center center;
}

.icon-address {
    background: url('myicons/address.png') no-repeat center center;
}

.icon-advertising {
    background: url('myicons/advertising.png') no-repeat center center;
}

.icon-archives {
    background: url('myicons/archives.png') no-repeat center center;
}

.icon-bank {
    background: url('myicons/bank.png') no-repeat center center;
}

.icon-basket {
    background: url('myicons/basket.png') no-repeat center center;
}

.icon-bestseller {
    background: url('myicons/bestseller.png') no-repeat center center;
}

.icon-billing {
    background: url('myicons/billing.png') no-repeat center center;
}

.icon-bug {
    background: url('myicons/bug.png') no-repeat center center;
}

.icon-business {
    background: url('myicons/business.png') no-repeat center center;
}

.icon-busy {
    background: url('myicons/busy.png') no-repeat center center;
}

.icon-calendar {
    background: url('myicons/calendar.png') no-repeat center center;
}

.icon-camera {
    background: url('myicons/camera.png') no-repeat center center;
}

.icon-card {
    background: url('myicons/card.png') no-repeat center center;
}

.icon-comment {
    background: url('myicons/comment.png') no-repeat center center;
}

.icon-communication {
    background: url('myicons/communication.png') no-repeat center center;
}

.icon-config {
    background: url('myicons/config.png') no-repeat center center;
}

.icon-contact {
    background: url('myicons/contact.png') no-repeat center center;
}

.icon-credit {
    background: url('myicons/credit.png') no-repeat center center;
}

.icon-current {
    background: url('myicons/current.png') no-repeat center center;
}

.icon-customers {
    background: url('myicons/customers.png') no-repeat center center;
}

.icon-database {
    background: url('myicons/database.png') no-repeat center center;
}

.icon-design {
    background: url('myicons/design.png') no-repeat center center;
}

.icon-down {
    background: url('myicons/down.png') no-repeat center center;
}

.icon-drawings {
    background: url('myicons/drawings.png') no-repeat center center;
}

.icon-email {
    background: url('myicons/email.png') no-repeat center center;
}

.icon-equalizer {
    background: url('myicons/equalizer.png') no-repeat center center;
}

.icon-exit {
    background: url('myicons/exit.png') no-repeat center center;
}

.icon-finished {
    background: url('myicons/finished.png') no-repeat center center;
}

.icon-flag {
    background: url('myicons/flag.png') no-repeat center center;
}

.icon-folder {
    background: url('myicons/folder.png') no-repeat center center;
}

.icon-future {
    background: url('myicons/future.png') no-repeat center center;
}

.icon-graphic {
    background: url('myicons/graphic.png') no-repeat center center;
}

.icon-graphy {
    background: url('myicons/graphy.png') no-repeat center center;
}

.icon-heart {
    background: url('myicons/heart.png') no-repeat center center;
}

.icon-hire {
    background: url('myicons/hire.png') no-repeat center center;
}

.icon-home {
    background: url('myicons/home.png') no-repeat center center;
}

.icon-left {
    background: url('myicons/left.png') no-repeat center center;
}

.icon-library {
    background: url('myicons/library.png') no-repeat center center;
}

.icon-lightbulb {
    background: url('myicons/lightbulb.png') no-repeat center center;
}

.icon-lock {
    background: url('myicons/lock.png') no-repeat center center;
}

.icon-login {
    background: url('myicons/login.png') no-repeat center center;
}

.icon-logout {
    background: url('myicons/logout.png') no-repeat center center;
}

.icon-milestone {
    background: url('myicons/milestone.png') no-repeat center center;
}

.icon-monitor {
    background: url('myicons/monitor.png') no-repeat center center;
}

.icon-networking {
    background: url('myicons/networking.png') no-repeat center center;
}

.icon-old {
    background: url('myicons/old.png') no-repeat center center;
}

.icon-order {
    background: url('myicons/order.png') no-repeat center center;
}

.icon-pencil {
    background: url('myicons/pencil.png') no-repeat center center;
}

.icon-phone {
    background: url('myicons/phone.png') no-repeat center center;
}

.icon-pictures {
    background: url('myicons/pictures.png') no-repeat center center;
}

.icon-print {
    background: url('myicons/print.png') no-repeat center center;
}

.icon-process {
    background: url('myicons/process.png') no-repeat center center;
}

.icon-product {
    background: url('myicons/product.png') no-repeat center center;
}

.icon-project {
    background: url('myicons/project.png') no-repeat center center;
}

.icon-publish {
    background: url('myicons/publish.png') no-repeat center center;
}

.icon-right {
    background: url('myicons/right.png') no-repeat center center;
}

.icon-telescope {
    background: url('myicons/telescope.png') no-repeat center center;
}

.icon-settings {
    background: url('myicons/settings.png') no-repeat center center;
}

.icon-shipping {
    background: url('myicons/shipping.png') no-repeat center center;
}

.icon-showreel {
    background: url('myicons/showreel.png') no-repeat center center;
}

.icon-signin {
    background: url('myicons/signin.png') no-repeat center center;
}

.icon-signout {
    background: url('myicons/signout.png') no-repeat center center;
}

.icon-signup {
    background: url('myicons/signup.png') no-repeat center center;
}

.icon-sitemap {
    background: url('myicons/sitemap.png') no-repeat center center;
}

.icon-special {
    background: url('myicons/special.png') no-repeat center center;
}

.icon-star {
    background: url('myicons/star.png') no-repeat center center;
}

.icon-statistics {
    background: url('myicons/statistics.png') no-repeat center center;
}

.icon-suppliers {
    background: url('myicons/suppliers.png') no-repeat center center;
}

.icon-terminal {
    background: url('myicons/terminal.png') no-repeat center center;
}

.icon-time {
    background: url('myicons/time.png') no-repeat center center;
}

.icon-up {
    background: url('myicons/up.png') no-repeat center center;
}

.icon-user {
    background: url('myicons/user.png') no-repeat center center;
}

.icon-world {
    background: url('myicons/world.png') no-repeat center center;
}

.icon-zoom {
    background: url('myicons/zoom.png') no-repeat center center;
}

/* No function */
